<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mustache Activity</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form action="/" method="post">
          <input type="text" name="pending" placeholder="Enter a new To Do" />
          <button type="submit">Add to do</button>
          </form>

          <h1>To do List</h1>
          <ul class="pending">

            {{#list}}
              {{#pending}}
              <li>
                {{pending}}
              </li>
              {{/pending}}
            {{/list}}

          </ul>
          <h1>Completed items</h1>
          <ul class="complete">
              {{#list}}
                {{#complete}}
                <li>
                  {{complete}}
                </li>
                {{/complete}}
              {{/list}}
          </ul>

        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

<!-- Latest compiled and minified JavaScript -->
